asgiref==3.5.1
comtypes==1.1.14
Django==3.2.15
django-countries==7.3.2
mysqlclient==2.1.0
pypiwin32==223
pyttsx3==2.90
pytz==2022.2.1
pywin32==304
SpeechRecognition==3.8.1
sqlparse==0.4.2
typing-extensions==4.2.0
tzdata==2022.1
waitress==2.1.2
whitenoise==6.2.0
